flows .json
[
    {
        "id": "4fcc0436.303d0c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "186026e0.7bf459",
        "type": "ui_form",
        "z": "4fcc0436.303d0c",
        "name": "",
        "label": "",
        "group": "d8cdca57.ac2728",
        "order": 1,
        "width": 12,
        "height": 2,
        "options": [
            {
                "label": "Enter your input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "324e744.9ef758c"
            ]
        ]
    },
    {
        "id": "324e744.9ef758c",
        "type": "function",
        "z": "4fcc0436.303d0c",
        "name": "",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "286aa77d.d4aed8",
                "e3ad0814.7e0ca8"
            ]
        ]
    },
    {
        "id": "1bdfdfbc.5cdd4",
        "type": "function",
        "z": "4fcc0436.303d0c",
        "name": "",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "3be5a015.0e12e"
            ]
        ]
    },
    {
        "id": "286aa77d.d4aed8",
        "type": "watson-conversation-v1",
        "z": "4fcc0436.303d0c",
        "name": "Customer Care",
        "workspaceid": "91144cdd-1b8f-4c3c-909d-f2a1fd0c5ef0",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b63efb2a-2d5b-49d0-9e53-9e93a9f7ca70",
        "timeout": "",
        "optout-learning": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "78fad62e.32c228",
                "1bdfdfbc.5cdd4"
            ]
        ]
    },
    {
        "id": "e3ad0814.7e0ca8",
        "type": "ui_text",
        "z": "4fcc0436.303d0c",
        "group": "d8cdca57.ac2728",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "78fad62e.32c228",
        "type": "debug",
        "z": "4fcc0436.303d0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "3be5a015.0e12e",
        "type": "ui_text",
        "z": "4fcc0436.303d0c",
        "group": "d8cdca57.ac2728",
        "order": 3,
        "width": 12,
        "height": 3,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "d8cdca57.ac2728",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot",
        "tab": "462d23d2.b39c8c",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "462d23d2.b39c8c",
        "type": "ui_tab",
        "z": "",
        "name": "Customer care Helpdesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]